<div class="back">
    <div class="container">        
        <app-panel [productos]="pizzas" [titulo]="'Pizzas'" [url]="'https://images.pexels.com/photos/11400977/pexels-photo-11400977.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'"></app-panel>
        <app-panel [productos]="pizzas" [titulo]="'Minutas'" [url]="'https://fedeemens.github.io/lodemarta/img/gallery/comida2.jpg'"></app-panel>
        <app-panel [productos]="productos" [titulo]="'Sanguches'" [url]="'https://images.pexels.com/photos/1639557/pexels-photo-1639557.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'"></app-panel>
        <app-panel [productos]="pizzas" [titulo]="'Cervezas'" [url]="'https://images.pexels.com/photos/1552630/pexels-photo-1552630.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'"></app-panel>
        <app-panel [productos]="pizzas" [titulo]="'Vinos'" [url]="'https://images.pexels.com/photos/5238390/pexels-photo-5238390.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'"></app-panel>
    </div>
</div>

