.container{
    width: 95%;
    margin-top: 5%;
}

.back{
    display: flex;
    justify-content: center;     
    min-height:100%;
    width: 100%;
    background-color:#FFF2E7;
}

@media(min-width:800px){
    .container{
        width: 780px;
    }
}