<div class="background">
    <div class="contenedor">
        <div class="img">
            <img src="https://raw.githubusercontent.com/sa-e/lodemarta/main/src/assets/images/foto.png">
        </div>
        <div class="title">
            <!-- <h1 style="color:white; font-size:34.0pt; margin-bottom: 20px;">Santiago Emens</h1> -->
            <p style="color:white; font-size:18.0pt">AVENIDA DEL VALLE 443</p>
            <p style="color:white; font-size:18.0pt">3446-434414</p>
            <p style="color:white; font-size:18.0pt">3446-630952</p>
        </div>
        <div class="button">
        <div>
        <button mat-stroked-button color="primary" (click)="goToCarta()"> 
            <span style="color: aliceblue;"> VER CARTA</span>          
            <!-- <mat-icon style="color: aliceblue;">account_circle</mat-icon>                -->
        </button>
        </div>
        </div> 
    </div>
</div>