<div class="background">
    <div>
        <div class="img">
            <img src="https://raw.githubusercontent.com/sa-e/lodemarta/main/src/assets/images/foto.png">
        </div>        
            <div class="ubi">
                <mat-icon style="color:aliceblue; margin-top: -7px;">location_on</mat-icon>
                <p style="color: aliceblue;">                    
                     Av. del valle 443, Gualeguaychú</p> 
            </div>
            <div class="envios">
                <p style="color: aliceblue;">                    
                    Envíos a domicilio!</p> 
            </div>
            <div class="ubi">
                <a href="https://www.facebook.com/profile.php?id=100063482202514" target="_blank">
                <img src="https://raw.githubusercontent.com/sa-e/lodemarta/main/src/assets/images/facebook.png" class="red"></a>
                <a href="https://www.instagram.com/rotiserialodemarta/" target="_blank">
                <img src="https://raw.githubusercontent.com/sa-e/lodemarta/main/src/assets/images/instagram.png" class="red"></a>
                <a href="https://wa.link/97dpnd" target="_blank">
                <img src="https://raw.githubusercontent.com/sa-e/lodemarta/main/src/assets/images/whatsapp.png" class="red"></a>
            </div>
            <div class="ubi">
                <button class="button" (click)="goToCarta()">
                    VER CARTA
                    <mat-icon style="color:aliceblue;">keyboard_arrow_down</mat-icon>
                </button>
            </div>
    </div>
</div>