<mat-expansion-panel>
    <mat-expansion-panel-header class="header">
        <div class="title">
            <img src="{{url}}" class="img">
            <p style="margin-left: 10px; font-size: 20.0pt;">
                <em>{{titulo}}</em>
            </p>
        </div>
    </mat-expansion-panel-header>

    <ng-container *ngFor="let producto of productos">
        <div class="producto">
            <p>{{producto.nombre}}</p>
            <p>${{producto.precio}}</p>
        </div>
    </ng-container>

</mat-expansion-panel>