.producto{
    display: flex;
    justify-content: space-between;
}

.title{
    height: 84px;
    width: 60%;
    /* margin-right: 26px;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    background-size: cover; 
    background-position: center; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img{
    width: 90px;
    height: 84px;
}

.header{
    height: 84px;
    padding: 0px 0px;
    padding-right: 26px;
}